cloudflare-app[app=trebble]{
	position: relative;
}

cloudflare-app[app=trebble] > div.demoBadge[badge-state=trebbledemo],
cloudflare-app[app=trebble] > div.demoBadge[badge-state=notenoughcontent],
cloudflare-app[app=trebble] > div.demoBadge[badge-state=nosubscription]{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #7062cf;
	background:
	linear-gradient(45deg, hsla(298, 98%, 44%, 1) 0%, hsla(298, 98%, 44%, 0) 70%),
	linear-gradient(135deg, hsla(224, 97%, 46%, 1) 10%, hsla(224, 97%, 46%, 0) 80%),
	linear-gradient(225deg, hsla(217, 99%, 46%, 1) 10%, hsla(217, 99%, 46%, 0) 80%),
	linear-gradient(315deg, hsla(323, 95%, 42%, 1) 100%, hsla(323, 95%, 42%, 0) 70%);
	color: white;
	height: 22px;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	font-size: 12px;
	font-weight: 900;
	padding: 0px 10px;
	animation: pinkpulse 1.6s infinite;
	-webkit-animation: pinkpulse 1.6s infinite;
	cursor: help;
}

.trebble-bagde-info.drop-theme-arrows-bounce-dark{
	z-index:999999999;
}

.trebblePopupInfo{
	max-width: 300px;
	padding: 10px;
}

.trebble-bagde-info.drop-theme-arrows-bounce-dark > .drop-content{

	border-radius: 0px;
	cursor: pointer;
	background:
	linear-gradient(45deg, hsla(298, 98%, 44%, 1) 0%, hsla(298, 98%, 44%, 0) 70%),
	linear-gradient(135deg, hsla(224, 97%, 46%, 1) 10%, hsla(224, 97%, 46%, 0) 80%),
	linear-gradient(225deg, hsla(217, 99%, 46%, 1) 10%, hsla(217, 99%, 46%, 0) 80%),
	linear-gradient(315deg, hsla(323, 95%, 42%, 1) 100%, hsla(323, 95%, 42%, 0) 70%);
}
.trebble-bagde-info.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content:before{
	border-top-color: #cd03d8;


}

.trebble-bagde-info.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content:before{
	border-bottom-color:  #474DE1;


}

.drop-element.drop-theme-arrows-bounce-dark .drop-content {

	transition: opacity cubic-bezier(0,0,.3,1) .25s,transform cubic-bezier(0,0,.3,1) .25s;

}


@-webkit-keyframes pinkpulse {
	0% {
		box-shadow: 0 0 0 0 rgba(209, 5, 131, 0.4);
	}
	70% {
		box-shadow: 0 0 0 15px rgba(209, 5, 131, 0.4);
	}
	100% {
		box-shadow: 0 0 0 0  rgba(209, 5, 131, 0);
	}
}
@keyframes pinkpulse {
	0% {
		box-shadow: 0 0 0 0 rgba(209, 5, 131, 0.4);
	}
	70% {
		box-shadow: 0 0 0 15px  rgba(209, 5, 131, 0);
	}
	100% {
		box-shadow: 0 0 0 0  rgba(209, 5, 131, 0);
	}
}


.trebblePopupInfo a,
.trebblePopupInfo a:hover,
.trebblePopupInfo a:active{
	border-bottom: 2px solid white;
	color: white;
	text-decoration: none;
}
